.Loginbox{
    display: flex;
    flex-wrap: wrap;
}

.Loginbox h1 {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: auto;
}


.loginForm{
    display: flex;
    flex-wrap: wrap;

}

.loginForm label{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin: 8px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loginForm input{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 49%;
    margin: 0px auto;
} 

.loginForm button{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 52%;
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}
